*.o
apteryx-kermond
dot1q/dot1q.h
entity/entity.h
icmp/ip-icmp.h
icmp/ip-icmp.xml
interface/interface.h
ip/ietf-ip.h
ip/ietf-ip.xml
iprouting/iprouting.h
neighbor/ip-neighbor.h
neighbor/ip-neighbor.xml
tcp/ip-tcp.h
tcp/ip-tcp.xml
gcov
unittest

#autotools
m4/*
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
Makefile.in
Makefile
.deps
.libs
.dirstamp
